In [1]:
import pandas as pd

In [58]:
homeless = pd.read_csv("homeless_sudo.csv")
income = pd.read_csv("income_sudo.csv")
mort = pd.read_csv("mortgage_sudo.csv")
rent = pd.read_csv("rent_sudo.csv")

In [64]:
rent['rent'] = rent['rent'].astype(int)

In [65]:
rent.rename(columns={'GCC':'gcc'}, inplace=True)

In [70]:
sum_value = rent.loc[[1, 3, 5,7,9,11,13,15], 'rent'].mean()

255.625

In [71]:
rent.loc[16] = sum_value

        gcc     rent
0     1GSYD  470.000
1     1RNSW  330.000
2     2GMEL  390.000
3     2RVIC  285.000
4     3GBRI  380.000
5     3RQLD  345.000
6     4GADE  320.000
7     4RSAU  220.000
8     5GPER  350.000
9     5RWAU  265.000
10    6GHOB  350.000
11    6RTAS  250.000
12    7GDAR  385.000
13    7RNTE  150.000
14    8ACTE  450.000
15    9OTER  200.000
16  255.625  255.625

In [72]:
rent = rent.drop([1, 3,5,7,9,11,13,15])

        gcc     rent
0     1GSYD  470.000
2     2GMEL  390.000
4     3GBRI  380.000
6     4GADE  320.000
8     5GPER  350.000
10    6GHOB  350.000
12    7GDAR  385.000
14    8ACTE  450.000
16  255.625  255.625

In [73]:
rent = rent.reset_index(drop=True)

In [75]:
rent.at[8, 'gcc'] = 'nan'

In [77]:
rent.at[0, 'gcc'] = '1gsyd'
rent.at[1, 'gcc'] = '2gmel'
rent.at[2, 'gcc'] = '3gbri'
rent.at[3, 'gcc'] = '4gade'
rent.at[4, 'gcc'] = '5gper'
rent.at[5, 'gcc'] = '6ghob'
rent.at[6, 'gcc'] = '7gdar'
rent.at[7, 'gcc'] = '8acte'

In [79]:
rent.to_csv('rent.csv', index=False)