In [1]:
import json

# List of JSON files to be merged
json_files = ["aussocial_homeless_data.json", "mastodonau_homeless_data.json", "theblower_homeless_data.json"]

data = []
for file in json_files:
    with open(file, "r", encoding="utf-8") as f:
        data.extend(json.load(f))  # Adds the data from the current file to the list

# Write the combined data to a new file
with open("combined_homeless_data.json", "w", encoding="utf-8") as f:
    json.dump(data, f, ensure_ascii=False)

In [2]:
# Input file
input_file = "combined_homeless_data.json"

data = []
with open(input_file, "r", encoding="utf-8") as f:
    all_data = json.load(f)
    for item in all_data:
        id_value = item.get("id", None)
        created_at_value = item.get("created_at", None)
        if id_value and created_at_value:
            data.append({"id": id_value, "created_at": created_at_value})

In [3]:
data

[{'id': '110347624531815443', 'created_at': '2023-05-11T02:12:05.000Z'},
 {'id': '110341335099811284', 'created_at': '2023-05-09T23:32:35.000Z'},
 {'id': '110339164090559930', 'created_at': '2023-05-09T14:20:25.000Z'},
 {'id': '110339162650836354', 'created_at': '2023-05-09T14:20:02.000Z'},
 {'id': '110337906453291583', 'created_at': '2023-05-09T09:00:37.000Z'},
 {'id': '110331421817194767', 'created_at': '2023-05-08T05:31:31.000Z'},
 {'id': '110330423222347570', 'created_at': '2023-05-08T01:17:34.000Z'},
 {'id': '110329728388287106', 'created_at': '2023-05-07T22:20:48.000Z'},
 {'id': '110329726527403469', 'created_at': '2023-05-07T22:20:19.000Z'},
 {'id': '110327902689561528', 'created_at': '2023-05-07T14:36:29.000Z'},
 {'id': '110327898299694175', 'created_at': '2023-05-07T14:35:22.000Z'},
 {'id': '110327051674279222', 'created_at': '2023-05-07T11:00:07.000Z'},
 {'id': '110326291255785780', 'created_at': '2023-05-07T07:46:43.000Z'},
 {'id': '110326191529333124', 'created_at': '2023-05-07T07:21:24.000Z'},
 {'id': '110325185355972511', 'created_at': '2023-05-07T03:05:30.000Z'},
 {'id': '110325180605890126', 'created_at': '2023-05-07T03:04:17.000Z'},
 {'id': '110324845507746524', 'created_at': '2023-05-07T01:39:05.000Z'},
 {'id': '110323642090379427', 'created_at': '2023-05-06T20:33:02.000Z'},
 {'id': '110323134614458653', 'created_at': '2023-05-06T18:23:59.000Z'},
 {'id': '110322849848854992', 'created_at': '2023-05-06T17:11:33.000Z'},
 {'id': '110347624531815443', 'created_at': '2023-05-11T02:12:05.000Z'},
 {'id': '110341335099811284', 'created_at': '2023-05-09T23:32:35.000Z'},
 {'id': '110339164090559930', 'created_at': '2023-05-09T14:20:25.000Z'},
 {'id': '110339162650836354', 'created_at': '2023-05-09T14:20:02.000Z'},
 {'id': '110337906453291583', 'created_at': '2023-05-09T09:00:37.000Z'},
 {'id': '110331421817194767', 'created_at': '2023-05-08T05:31:31.000Z'},
 {'id': '110330423222347570', 'created_at': '2023-05-08T01:17:34.000Z'},
 {'id': '110329728388287106', 'created_at': '2023-05-07T22:20:48.000Z'},
 {'id': '110329726527403469', 'created_at': '2023-05-07T22:20:19.000Z'},
 {'id': '110327902689561528', 'created_at': '2023-05-07T14:36:29.000Z'},
 {'id': '110327898299694175', 'created_at': '2023-05-07T14:35:22.000Z'},
 {'id': '110327051674279222', 'created_at': '2023-05-07T11:00:07.000Z'},
 {'id': '110326291255785780', 'created_at': '2023-05-07T07:46:43.000Z'},
 {'id': '110326191529333124', 'created_at': '2023-05-07T07:21:24.000Z'},
 {'id': '110325185355972511', 'created_at': '2023-05-07T03:05:30.000Z'},
 {'id': '110325180605890126', 'created_at': '2023-05-07T03:04:17.000Z'},
 {'id': '110324845507746524', 'created_at': '2023-05-07T01:39:05.000Z'},
 {'id': '110323642090379427', 'created_at': '2023-05-06T20:33:02.000Z'},
 {'id': '110323134614458653', 'created_at': '2023-05-06T18:23:59.000Z'},
 {'id': '110322849848854992', 'created_at': '2023-05-06T17:11:33.000Z'},
 {'id': '110347624531815443', 'created_at': '2023-05-11T02:12:05.000Z'},
 {'id': '110341335099811284', 'created_at': '2023-05-09T23:32:35.000Z'},
 {'id': '110339164090559930', 'created_at': '2023-05-09T14:20:25.000Z'},
 {'id': '110339162650836354', 'created_at': '2023-05-09T14:20:02.000Z'},
 {'id': '110337906453291583', 'created_at': '2023-05-09T09:00:37.000Z'},
 {'id': '110331421817194767', 'created_at': '2023-05-08T05:31:31.000Z'},
 {'id': '110330423222347570', 'created_at': '2023-05-08T01:17:34.000Z'},
 {'id': '110329728388287106', 'created_at': '2023-05-07T22:20:48.000Z'},
 {'id': '110329726527403469', 'created_at': '2023-05-07T22:20:19.000Z'},
 {'id': '110327902689561528', 'created_at': '2023-05-07T14:36:29.000Z'},
 {'id': '110327898299694175', 'created_at': '2023-05-07T14:35:22.000Z'},
 {'id': '110327051674279222', 'created_at': '2023-05-07T11:00:07.000Z'},
 {'id': '110326291255785780', 'created_at': '2023-05-07T07:46:43.000Z'},
 {'id': '110326191529333124', 'created_at': '2023-05-07T07:21:24.000Z'},
 {'id': '110325185355972511', 'created_at': '2023-05-07T03:05:30.000Z'},
 {'id': '110325180605890126', 'created_at': '2023-05-07T03:04:17.000Z'},
 {'id': '110324845507746524', 'created_at': '2023-05-07T01:39:05.000Z'},
 {'id': '110323642090379427', 'created_at': '2023-05-06T20:33:02.000Z'},
 {'id': '110323134614458653', 'created_at': '2023-05-06T18:23:59.000Z'},
 {'id': '110322849848854992', 'created_at': '2023-05-06T17:11:33.000Z'}]

In [4]:
import pandas as pd
df = pd.DataFrame(data)
print(df)

                    id                created_at
0   110347624531815443  2023-05-11T02:12:05.000Z
1   110341335099811284  2023-05-09T23:32:35.000Z
2   110339164090559930  2023-05-09T14:20:25.000Z
3   110339162650836354  2023-05-09T14:20:02.000Z
4   110337906453291583  2023-05-09T09:00:37.000Z
5   110331421817194767  2023-05-08T05:31:31.000Z
6   110330423222347570  2023-05-08T01:17:34.000Z
7   110329728388287106  2023-05-07T22:20:48.000Z
8   110329726527403469  2023-05-07T22:20:19.000Z
9   110327902689561528  2023-05-07T14:36:29.000Z
10  110327898299694175  2023-05-07T14:35:22.000Z
11  110327051674279222  2023-05-07T11:00:07.000Z
12  110326291255785780  2023-05-07T07:46:43.000Z
13  110326191529333124  2023-05-07T07:21:24.000Z
14  110325185355972511  2023-05-07T03:05:30.000Z
15  110325180605890126  2023-05-07T03:04:17.000Z
16  110324845507746524  2023-05-07T01:39:05.000Z
17  110323642090379427  2023-05-06T20:33:02.000Z
18  110323134614458653  2023-05-06T18:23:59.000Z
19  110322849848854992  2023-05-06T17:11:33.000Z
20  110347624531815443  2023-05-11T02:12:05.000Z
21  110341335099811284  2023-05-09T23:32:35.000Z
22  110339164090559930  2023-05-09T14:20:25.000Z
23  110339162650836354  2023-05-09T14:20:02.000Z
24  110337906453291583  2023-05-09T09:00:37.000Z
25  110331421817194767  2023-05-08T05:31:31.000Z
26  110330423222347570  2023-05-08T01:17:34.000Z
27  110329728388287106  2023-05-07T22:20:48.000Z
28  110329726527403469  2023-05-07T22:20:19.000Z
29  110327902689561528  2023-05-07T14:36:29.000Z
30  110327898299694175  2023-05-07T14:35:22.000Z
31  110327051674279222  2023-05-07T11:00:07.000Z
32  110326291255785780  2023-05-07T07:46:43.000Z
33  110326191529333124  2023-05-07T07:21:24.000Z
34  110325185355972511  2023-05-07T03:05:30.000Z
35  110325180605890126  2023-05-07T03:04:17.000Z
36  110324845507746524  2023-05-07T01:39:05.000Z
37  110323642090379427  2023-05-06T20:33:02.000Z
38  110323134614458653  2023-05-06T18:23:59.000Z
39  110322849848854992  2023-05-06T17:11:33.000Z
40  110347624531815443  2023-05-11T02:12:05.000Z
41  110341335099811284  2023-05-09T23:32:35.000Z
42  110339164090559930  2023-05-09T14:20:25.000Z
43  110339162650836354  2023-05-09T14:20:02.000Z
44  110337906453291583  2023-05-09T09:00:37.000Z
45  110331421817194767  2023-05-08T05:31:31.000Z
46  110330423222347570  2023-05-08T01:17:34.000Z
47  110329728388287106  2023-05-07T22:20:48.000Z
48  110329726527403469  2023-05-07T22:20:19.000Z
49  110327902689561528  2023-05-07T14:36:29.000Z
50  110327898299694175  2023-05-07T14:35:22.000Z
51  110327051674279222  2023-05-07T11:00:07.000Z
52  110326291255785780  2023-05-07T07:46:43.000Z
53  110326191529333124  2023-05-07T07:21:24.000Z
54  110325185355972511  2023-05-07T03:05:30.000Z
55  110325180605890126  2023-05-07T03:04:17.000Z
56  110324845507746524  2023-05-07T01:39:05.000Z
57  110323642090379427  2023-05-06T20:33:02.000Z
58  110323134614458653  2023-05-06T18:23:59.000Z
59  110322849848854992  2023-05-06T17:11:33.000Z

In [5]:
df['created_at'] = pd.to_datetime(df['created_at'])
df['created_at'] = df['created_at'].dt.strftime('%Y.%m.%d')

print(df)

                    id  created_at
0   110347624531815443  2023.05.11
1   110341335099811284  2023.05.09
2   110339164090559930  2023.05.09
3   110339162650836354  2023.05.09
4   110337906453291583  2023.05.09
5   110331421817194767  2023.05.08
6   110330423222347570  2023.05.08
7   110329728388287106  2023.05.07
8   110329726527403469  2023.05.07
9   110327902689561528  2023.05.07
10  110327898299694175  2023.05.07
11  110327051674279222  2023.05.07
12  110326291255785780  2023.05.07
13  110326191529333124  2023.05.07
14  110325185355972511  2023.05.07
15  110325180605890126  2023.05.07
16  110324845507746524  2023.05.07
17  110323642090379427  2023.05.06
18  110323134614458653  2023.05.06
19  110322849848854992  2023.05.06
20  110347624531815443  2023.05.11
21  110341335099811284  2023.05.09
22  110339164090559930  2023.05.09
23  110339162650836354  2023.05.09
24  110337906453291583  2023.05.09
25  110331421817194767  2023.05.08
26  110330423222347570  2023.05.08
27  110329728388287106  2023.05.07
28  110329726527403469  2023.05.07
29  110327902689561528  2023.05.07
30  110327898299694175  2023.05.07
31  110327051674279222  2023.05.07
32  110326291255785780  2023.05.07
33  110326191529333124  2023.05.07
34  110325185355972511  2023.05.07
35  110325180605890126  2023.05.07
36  110324845507746524  2023.05.07
37  110323642090379427  2023.05.06
38  110323134614458653  2023.05.06
39  110322849848854992  2023.05.06
40  110347624531815443  2023.05.11
41  110341335099811284  2023.05.09
42  110339164090559930  2023.05.09
43  110339162650836354  2023.05.09
44  110337906453291583  2023.05.09
45  110331421817194767  2023.05.08
46  110330423222347570  2023.05.08
47  110329728388287106  2023.05.07
48  110329726527403469  2023.05.07
49  110327902689561528  2023.05.07
50  110327898299694175  2023.05.07
51  110327051674279222  2023.05.07
52  110326291255785780  2023.05.07
53  110326191529333124  2023.05.07
54  110325185355972511  2023.05.07
55  110325180605890126  2023.05.07
56  110324845507746524  2023.05.07
57  110323642090379427  2023.05.06
58  110323134614458653  2023.05.06
59  110322849848854992  2023.05.06

In [6]:
df_count = df.groupby('created_at').size().reset_index(name='homeless_count')

print(df_count)

   created_at  homeless_count
0  2023.05.06               9
1  2023.05.07              30
2  2023.05.08               6
3  2023.05.09              12
4  2023.05.11               3

In [7]:
json_files = ["aussocial_mortgage_data.json", "mastodonau_mortgage_data.json", "theblower_mortgage_data.json"]

data = []
for file in json_files:
    with open(file, "r", encoding="utf-8") as f:
        data.extend(json.load(f))  # Adds the data from the current file to the list

# Write the combined data to a new file
with open("combined_mortgage_data.json", "w", encoding="utf-8") as f:
    json.dump(data, f, ensure_ascii=False)
    input_file = "combined_mortgage_data.json"

data = []
with open(input_file, "r", encoding="utf-8") as f:
    all_data = json.load(f)
    for item in all_data:
        id_value = item.get("id", None)
        created_at_value = item.get("created_at", None)
        if id_value and created_at_value:
            data.append({"id": id_value, "created_at": created_at_value})

In [8]:
df_1 = pd.DataFrame(data)
df_1['created_at'] = pd.to_datetime(df_1['created_at'])
df_1['created_at'] = df_1['created_at'].dt.strftime('%Y.%m.%d')
df_count_1 = df_1.groupby('created_at').size().reset_index(name='mortgage_count')

print(df_count_1)

   created_at  mortgage_count
0  2023.04.29               3
1  2023.04.30               6
2  2023.05.04               3
3  2023.05.05               3

In [9]:
json_files = ["aussocial_rent_data.json", "mastodonau_rent_data.json", "theblower_rent_data.json"]

data = []
for file in json_files:
    with open(file, "r", encoding="utf-8") as f:
        data.extend(json.load(f))  # Adds the data from the current file to the list

# Write the combined data to a new file
with open("combined_rent_data.json", "w", encoding="utf-8") as f:
    json.dump(data, f, ensure_ascii=False)
    input_file = "combined_rent_data.json"

data = []
with open(input_file, "r", encoding="utf-8") as f:
    all_data = json.load(f)
    for item in all_data:
        id_value = item.get("id", None)
        created_at_value = item.get("created_at", None)
        if id_value and created_at_value:
            data.append({"id": id_value, "created_at": created_at_value})

In [10]:
df_2 = pd.DataFrame(data)
df_2['created_at'] = pd.to_datetime(df_2['created_at'])
df_2['created_at'] = df_2['created_at'].dt.strftime('%Y.%m.%d')
df_count_2 = df_2.groupby('created_at').size().reset_index(name='rent_count')

print(df_count_2)

    created_at  rent_count
0   2022.11.09           3
1   2023.04.27           3
2   2023.04.28           6
3   2023.04.29           9
4   2023.05.02           3
5   2023.05.03           3
6   2023.05.04           3
7   2023.05.05           3
8   2023.05.07           6
9   2023.05.09           9
10  2023.05.10           3

In [11]:
json_files = ["aussocial_income_data.json", "mastodonau_income_data.json", "theblower_income_data.json"]

data = []
for file in json_files:
    with open(file, "r", encoding="utf-8") as f:
        data.extend(json.load(f))  # Adds the data from the current file to the list

# Write the combined data to a new file
with open("combined_income_data.json", "w", encoding="utf-8") as f:
    json.dump(data, f, ensure_ascii=False)
    input_file = "combined_income_data.json"

data = []
with open(input_file, "r", encoding="utf-8") as f:
    all_data = json.load(f)
    for item in all_data:
        id_value = item.get("id", None)
        created_at_value = item.get("created_at", None)
        if id_value and created_at_value:
            data.append({"id": id_value, "created_at": created_at_value})

In [12]:
df_3 = pd.DataFrame(data)
df_3['created_at'] = pd.to_datetime(df_3['created_at'])
df_3['created_at'] = df_3['created_at'].dt.strftime('%Y.%m.%d')
df_count_3 = df_3.groupby('created_at').size().reset_index(name='income_count')

print(df_count_3)

   created_at  income_count
0  2023.04.27             3
1  2023.05.02             6
2  2023.05.03             3

In [13]:
df_combined = pd.concat([df_count, df_count_1, df_count_2, df_count_3], ignore_index=True)
df_combined

    created_at  homeless_count  mortgage_count  rent_count  income_count
0   2023.05.06             9.0             NaN         NaN           NaN
1   2023.05.07            30.0             NaN         NaN           NaN
2   2023.05.08             6.0             NaN         NaN           NaN
3   2023.05.09            12.0             NaN         NaN           NaN
4   2023.05.11             3.0             NaN         NaN           NaN
5   2023.04.29             NaN             3.0         NaN           NaN
6   2023.04.30             NaN             6.0         NaN           NaN
7   2023.05.04             NaN             3.0         NaN           NaN
8   2023.05.05             NaN             3.0         NaN           NaN
9   2022.11.09             NaN             NaN         3.0           NaN
10  2023.04.27             NaN             NaN         3.0           NaN
11  2023.04.28             NaN             NaN         6.0           NaN
12  2023.04.29             NaN             NaN         9.0           NaN
13  2023.05.02             NaN             NaN         3.0           NaN
14  2023.05.03             NaN             NaN         3.0           NaN
15  2023.05.04             NaN             NaN         3.0           NaN
16  2023.05.05             NaN             NaN         3.0           NaN
17  2023.05.07             NaN             NaN         6.0           NaN
18  2023.05.09             NaN             NaN         9.0           NaN
19  2023.05.10             NaN             NaN         3.0           NaN
20  2023.04.27             NaN             NaN         NaN           3.0
21  2023.05.02             NaN             NaN         NaN           6.0
22  2023.05.03             NaN             NaN         NaN           3.0

In [14]:
df_combined_new = df_combined.sort_values('created_at')

# Replace NaN values with 0
df_new = df_combined_new.fillna(0)

In [15]:
df_new = df_new.rename(columns={'created_at': 'time'})
df_new

          time  homeless_count  mortgage_count  rent_count  income_count
9   2022.11.09             0.0             0.0         3.0           0.0
20  2023.04.27             0.0             0.0         0.0           3.0
10  2023.04.27             0.0             0.0         3.0           0.0
11  2023.04.28             0.0             0.0         6.0           0.0
12  2023.04.29             0.0             0.0         9.0           0.0
5   2023.04.29             0.0             3.0         0.0           0.0
6   2023.04.30             0.0             6.0         0.0           0.0
13  2023.05.02             0.0             0.0         3.0           0.0
21  2023.05.02             0.0             0.0         0.0           6.0
14  2023.05.03             0.0             0.0         3.0           0.0
22  2023.05.03             0.0             0.0         0.0           3.0
7   2023.05.04             0.0             3.0         0.0           0.0
15  2023.05.04             0.0             0.0         3.0           0.0
16  2023.05.05             0.0             0.0         3.0           0.0
8   2023.05.05             0.0             3.0         0.0           0.0
0   2023.05.06             9.0             0.0         0.0           0.0
17  2023.05.07             0.0             0.0         6.0           0.0
1   2023.05.07            30.0             0.0         0.0           0.0
2   2023.05.08             6.0             0.0         0.0           0.0
3   2023.05.09            12.0             0.0         0.0           0.0
18  2023.05.09             0.0             0.0         9.0           0.0
19  2023.05.10             0.0             0.0         3.0           0.0
4   2023.05.11             3.0             0.0         0.0           0.0

In [16]:
df_new.to_csv('mastodon data.csv', index=False)

In [17]:
import json, csv

def csv_to_json(csv_file_path):
    data = []
    with open(csv_file_path, mode='r', encoding='utf-8') as csv_file:
        csv_reader = csv.DictReader(csv_file)
        for row in csv_reader:
            data.append(row)
    return data

def write_json_file(json_file_path, data):
    with open(json_file_path, mode='w', encoding='utf-8') as json_file:
        json.dump(data, json_file, ensure_ascii=False, indent=4)
        
if __name__ == '__main__':
    csv_file_path = 'mastodon data.csv'
    json_file_path = 'mastodon data.json'

    data = csv_to_json(csv_file_path)
    write_json_file(json_file_path, data)

In [20]:
import couchdb
import json

# 连接到CouchDB服务器
couch = couchdb.Server('http://jionghao:123456@172.26.130.66:5984')

# 创建或选择数据库
db_name = 'mastodon_data'
if db_name in couch:
    db = couch[db_name]
else:
    db = couch.create(db_name)

# 加载JSON数据
with open('mastodon data.json', 'r') as f:
    data = json.load(f)

# 批量插入数据
db.update(data)

[(True,
  '1e3a2dc0609eb5baeab98f9f8e03e944',
  '1-bb446a8cbf21abec9f616e95a6883801'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e03ef63',
  '1-d6c5a2469e1fe6ab826bbfd848354691'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e03fa6e',
  '1-f0a32b3398572cea071910009a89acbd'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e040341',
  '1-a96068a27f3d55c2a17321dc80d5f4fa'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e0411da',
  '1-b04a2167041372f23d0bdfcb71c8408f'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e041fe7',
  '1-26f6bbe05269ebf5806d2a48f6cb96be'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e042a9a',
  '1-d05db25cdeaca4e4170d23cba1b4323e'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e0433c5',
  '1-904b215aa371ea52900fafb94d5447b2'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e043629',
  '1-ad738d9951a1870e9134d43e6282a4ea'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e043a58',
  '1-b5a5ba1be65586794fdfd291e5e6730b'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e0447ca',
  '1-c804ad80bfbc9efef28c950e4f3ed5cb'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e0451c7',
  '1-ffb58e4215a702497666e0395657f6e9'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e04538e',
  '1-11b59bf1f58f4dbf2790a55415845d02'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e04542c',
  '1-00c9c0ffcd0a5065e0b3f0de7fb528c7'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e045b34',
  '1-6dbff4679bb23bb554b72153ed29f5f1'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e0469c4',
  '1-ed2a53508d8b66bd02fdd7806909927a'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e047561',
  '1-13d04a9698b2c2cb6707ce8e2b9ff8fe'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e048507',
  '1-fd4bac553ac92ad8ea21f56be2fbb4b7'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e048701',
  '1-4fbdd5237a936496aa4dab71037a63e4'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e048cb9',
  '1-335bea309ea13ba7362e79b7e6dc571a'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e049bb0',
  '1-58b0148d98f226bee2f0ed0997b4a235'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e04aa22',
  '1-d1af5f37a94f0a2eafdb5e54e719c478'),
 (True,
  '1e3a2dc0609eb5baeab98f9f8e04aff3',
  '1-25879eec96d31457b346754a1ffc016e')]

In [ ]:
import matplotlib.pyplot as plt

# 读取数据并将"time"列转换为日期时间类型
df_new['time'] = pd.to_datetime(df_new['time'])

# 将"time"列设置为索引
df_new = df_new.set_index('time')

# 绘制时间序列图
df_new.plot(figsize=(10, 6))
plt.xlabel('Time')
plt.ylabel('Count')
plt.title('Time Series')
plt.show()

In [ ]:
from statsmodels.tsa.arima.model import ARIMA
# 拟合ARIMA模型
model = ARIMA(df_new['homeless_count'], order=(1, 1, 1))
model_fit = model.fit()

# 进行预测
predictions = model_fit.predict(start=pd.to_datetime('2023-04-30'), end=pd.to_datetime('2023-05-11'))

# 绘制原始数据和预测结果
plt.figure(figsize=(10, 6))
plt.plot(df_new.index, df_new['homeless_count'], label='Actual')
plt.plot(predictions.index, predictions, label='Predicted')
plt.xlabel('Time')
plt.ylabel('Count')
plt.title('ARIMA Forecast')
plt.legend()
plt.show()